<!-- wp:template-part {"slug":"header","theme":"consultivo","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"has-secondary-color-background-color","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-secondary-color-background-color has-background-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"consultivo/brand-showcase"} /-->
  <!-- wp:pattern {"slug":"consultivo/what-we-do"} /-->
  <!-- wp:pattern {"slug":"consultivo/case-study"} /-->
  <!-- wp:pattern {"slug":"consultivo/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"consultivo/testimonials"} /-->
  <!-- wp:pattern {"slug":"consultivo/blogs"} /-->
  <!-- wp:pattern {"slug":"consultivo/cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"consultivo"} /-->
